* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

.size-adjust {
    height: 100px;
}

.size-adjust-microsoft {
    height: 286px;
}

.header-background {
    text-align: center;
    background-image: url(./Picture/tempsnip1_auto_x2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -18rem;
    height: 35rem;
}

.microsoft {
    text-align: center;
    background-image: url(./Picture/microsoft-logo-inkythuatso-01-29-10-05-20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0;
    height: 35rem;
}

.header-slogan {
    text-align: center;
    position: relative;
    top: -22rem;
}

.microsoft-slogan {
    text-align: center;
    position: relative;
    top: -22rem;
}

.font-size {
    font-size: 10rem !important;
}

h1 {
    font-size: 4rem !important;
    color: #00FF00;
}

p {
    font-size: 2rem !important;
    color: #FFFFFF;
}

.opacity {
    position: static;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
}

.container-user {
    height: 35rem;
    display: flex;
    justify-content: space-between;
}

.body-background {
    background-image: url(./Picture/ece05b8f377cfd526d04d8f4f2dc0cf2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -15rem;
    position: relative;
    top: -13.5rem;
}

.windows-background {
    background-image: url(./Picture/windows-10-2560x1440-microsoft-blue-4k-23045.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -15rem;
    position: relative;
    top: -12.7rem;
}

.office-background {
    background-image: url(./Picture/640px-Microsoft_Office_logo.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-x: 1300px;
    background-position-y: 30px;
    position: relative;
    top: -39.5rem;
}

.opacity-background {
    position: static;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
    white-space: none;
}

.body-content {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40rem;
}

.line {
    position: relative;
    top: -13.36rem;
    left: 20rem;
    transform: scaleY(20%);
    width: 1280px;
}

.microsoft-line {
    position: relative;
    top: -12.6rem;
    left: 20rem;
    transform: scaleY(20%);
    width: 1280px;
}

.windows-line {
    position: relative;
    top: -54.35rem;
    left: 20rem;
    transform: scaleY(20%);
    width: 1280px;
}

.card-outline {
    padding-right: 1rem;
}

.donation-image {
    background-image: url(./Picture/dTWCuYOx7H09KKQGLTOvtbBorR8ikfCsIDHf5o6ut_kyjdjRtgo-GaTBYMOxorrSXEXvGgTKXyk=s0.jpg);
    background-repeat: no-repeat;
    background-position-y: -45rem;
}

.donation {
    position: relative;
    top: -30rem;
}

.donation-microsoft-page {
    position: relative;
    top: -63rem;
}

.donation-windows-page {
    position: relative;
    top: -39.5rem;
}

.text-color {
    color: #00FF00;
}

.text-footer {
    font-size: 1.5rem !important;
    padding-left: 21rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.image {
    width: 11.5rem;
    height: 11.5rem;
    margin-bottom: 2rem;
}

.windows {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.link-button {
    display: flex;
    flex-direction: column;
}

.btn-windows {
    margin-bottom: 2rem !important;
}

.windows:last-child {
    margin-right: 0;
}

.microsoft-second-line {
    position: relative;
    top: -75.35rem;
    left: 20rem;
    transform: scaleY(20%);
    width: 1280px;
}

.microsoft-third-line {
    position: relative;
    top: -63.8rem;
    left: 20rem;
    transform: scaleY(20%);
    width: 1280px;
}

.body-content-windows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -40rem;
}

.body-content-office {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -67rem;
}

.windows-content {
    display: flex;
    justify-content: center;
}

.windows-heading {
    text-align: center;
    position: relative;
    top: -50px;
}

.office-content {
    display: flex;
    justify-content: center;
}

.dropdown-padding {
    padding-left: 0 !important;
}

.office-background-position {
    top: -11.6rem;
}

.office-line-position {
    top: -47.55rem;
}

.office-body-position {
    top: -42rem;
}

.donation-position {
    top: -35.6rem;
}

.donation-line-position {
    top: -50.35rem;
}

.text-size {
    font-size: 20px !important;
}

.copyright {
    position: relative;
    top: -30.8rem;
}

.line-second {
    position: relative;
    top: -30.76rem;
    left: 20rem;
    transform: scaleY(20%);
    width: 1280px;
}

.microsoft-copyright {
    position: relative;
    top: -63.9rem;
}

.windows-copyright {
    position: relative;
    top: -40.4rem;
}

.windows-second-line {
    position: relative;
    top: -40.3rem;
    left: 20rem;
    transform: scaleY(20%);
    width: 1280px;
}

.office-copyright {
    position: relative;
    top: -35.9rem;
}

.office-second-line {
    position: relative;
    top: -35.85rem;
    left: 20rem;
    transform: scaleY(20%);
    width: 1280px;
}